@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

.App {
  background-image: url("https://github.com/JohnMormantrops/Images/blob/main/Olympus.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vh;
  min-height: 100vh;
  margin: -8px;
  padding: 0;
  user-select: none;
  font-family: "Skranji", cursive;
}
.home {
  margin-top: 70px;
}
.homecard{
  margin-top: -400px;
  margin-left: 150px;
  position: absolute;
}
.cardhome {
  color: black;
  background-color: #d14f00;
  border-width: 3%;
  border-style: solid;
  border-color: green;
  background-image: url("https://github.com/JohnMormantrops/Images/blob/main/greenlightning.jpg?raw=true");
  /*  card ratio  3: 2  */
  height: 200px;
  width: 130px;
  border-radius: 10px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  /* box-shadow: 5px 10px #2c2c2b; */
  text-shadow: 0 0 0px #0d0d09;
}
.right{
  transform: rotate(10deg);
  margin-left: 40px;
}
.left{
  transform: rotate(-10deg);
  margin-left: -40px;
}
#logo {
  /* margin:auto; */

  /* display: inline-flex;
  justify-content: center; */
  font-family: "Skranji", cursive;
}
.logo{
  font-family: "Skranji", cursive;
}
#textWrap{
  font-family: "Skranji", cursive;
}

.getStarted {
  text-align: center;
  margin-top: 50px; 
  padding: 0px;
  width: 150px;
  height: 50px;
  font: verdana;
  font-size: large;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0); */
  color: #ffd700;
  border-radius: 15px;
  border: none;
  font-family: "Skranji", cursive;
  background-color: transparent;
  text-shadow: 0px 0px 8px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000;
}
.getStarted:hover{
    background-color: black;
    cursor: pointer;
    /* box-shadow: -0.1em 0.1em 0.1em 0.3em  #ffd700; */
    box-shadow: 0em 0em 0.1em 0.1em  #ffd700;
    background-color: #000000c7;
  }

.welcome{
  
  margin: 0px;
  margin-top: 70px;
  margin-left: 150px;
  color:#ffd700;
  text-shadow: 0px 0px 8px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000, 0px 0px 8px #000000;

}

#textWrap {
  animation: textSpin 15s linear infinite;
  /* transform-origin: bottom center; */
  /*   transform-box: fill-box; */
}

@keyframes textSpin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}



.title {
  /* margin:auto; */
}
.acc {
  margin-top: 10%;
}

.spring {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/* the back of the page overlaps the nav so give it margin */
.back {
  margin-top: 70px;
}

/* center items in div */
.centered {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* background-color: black;*/
}

/* ///
///NAV STYLES */
.nav {
  display: flex;
  margin: 0px;
  width: 75%;
  background-color: transparent;
  height: 50px;
  padding: 20px;
  /* border-width: 15%;
  border-style: solid;
  border-color:blue; */
}

.navButton {
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: auto;
  width: 25%;
  list-style: none;
  color: #ffd700;
  padding: 15px;
  text-shadow: 0 0 5px #0d0d09, 0 0 5px #0d0d09, 0 0 5px #0d0d09;

  z-index: 10;
}

.navButton:hover {

  border-radius: 15px;
  /* background-color: #0d0d09;
  box-shadow: -0.1em 0.1em 0.1em 0.3em  #ffd700; */
  /* box-shadow: -0.1em 0.1em 0.1em 0.3em #000000; */
  box-shadow: 0em 0em 0.1em 0.1em  #ffd700;
  /* background-color: #000000; */
  
  background-color: #00000048;
}
.heading {
  align-content: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.8em;
  margin: auto;
  list-style: none;
  color: gold;
  padding: 15px;
  text-shadow: 0px 1px 5px #0d0d09;
  /* box-shadow: .75em .75em .75em #000000; */
}

.shadow{
  text-shadow: 0px 0px 8px #0d0d09, 0px 0px 8px #0d0d09, 0px 0px 8px #0d0d09;
}

/* ////
////INFO BOX COMPONENT
/// */
.infoBox {
  display: flex;
  height: 300px;
  width: 500px;
  /* background-color: rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  /* margin: 15px; */
  color: gold;
  padding: 2%;
  text-shadow: 0px 0px 5px #000000,0px 0px 5px #000000;
}

.row {
  display: flex;
}

/* 
/////
/////CARD DESIGN 
///// */

.choose {
  cursor: pointer;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  color: black;
  background-color: #d14f00;
  border-width: 3%;
  border-style: solid;
  border-color: green;
  background-image: url("https://github.com/JohnMormantrops/Images/blob/main/greenlightning.jpg?raw=true");
  /*  card ratio  3: 2  */
  height: 200px;
  width: 130px;
  border-radius: 10px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  margin: 15px;
  /* box-shadow: 5px 10px #2c2c2b; */
  cursor: pointer;
  text-shadow: 0 0 0px #0d0d09;
}
.WW {
  color: #ffd700;
  background-color: #000000a5;
  height: 15%;
  width: 20%;
  border-radius: 50%;
  border-color: #ffd700;
  border-width: 2px;
  border-style: groove;
  text-align: center;
  font-size: large;
  margin-top: 0px;
  box-shadow: -1px 3px 2px 3px #000000;
}
.ww {
  margin-top: 3px;
  margin-left: -6px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}
.letter {
  position: absolute;
  font-size: small;
  background-color: #ffd700;
  text-align: center;
  width: 15%;
  border-radius: 50%;
  flex: right;
  border: solid;
  border-color: #000000;
  border-width: 2px;
  top: 3px;
  right: 2px;
}
/* ////
////CARD COLORS/// */
#Norse {
  filter: hue-rotate(0deg) brightness(0.9);
}
#Norse .pic {
  filter: hue-rotate(0deg) brightness(1.1);
}
#Chinese {
  filter: hue-rotate(250deg);
}
#Chinese .pic {
  filter: hue-rotate(-250deg);
}

#America {
  filter: hue-rotate(270deg);
}
#America .pic {
  filter: hue-rotate(-270deg);
}
#SouthAmerican {
  filter: hue-rotate(310deg);
}
#Greek {
  filter: hue-rotate(270deg);
}
#Greek .pic{
  filter: hue-rotate(-270deg);
}
#Egyptian {
  filter: hue-rotate(20deg);
}
#Japanese {
  filter: hue-rotate(90deg);
}

#Japanese .pic {
  filter: hue-rotate(-90deg);
}


.pic {
  height: 55%;
  width: 93%;
  margin: auto;
  padding: 3%;
}
.ability {
  background-color: #d14f00;
  height: 17%;
  margin: 2%;
  border-width: 3%;
  border-style: solid;
  border-color: green;
  position: relative;
  font-size: medium;
}
.heroname {
  background-color: #d14f00;
  border-width: 3%;
  border-style: solid;
  border-color: green;
}
p {
  margin: auto;
}
img {
  width: 100%;
  height: 90%;
}
.text {
  margin: auto;
  font-size: 60%;
}

/* //////
//////MANAGE DECK STYLES
///// */
.build {
  background-color: #241f0057;
  margin-top: 0px;
  padding-top: 10px;
  height: 50px;
  color: #ffd700;
  margin-left: 10px;
  top: 350px;
  text-shadow: 1px 1px #000000;
  text-align: center;
}
.createDeck {
  color: #ffd700;
  margin-left: 15px;
}

.card:hover {
  transform: scale(1.2);
  margin: 15px;
  box-shadow: 0px 5px 5px 2px #0d0d09;
}
.sidePanel {
  min-width: 240px;
  max-width: 240px;
  flex-shrink: 0;
  top: 400px;
  /* bottom: 0px; */
  position: absolute;
  z-index: 1;
}

.panelBackground {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -100000;
}
.panelBox {
  margin-left: 15px;
  width: 100%;
  color: gold;
  height: 15%;
  z-index: 1;
  padding: 10px;
  background-color: auto;
  text-shadow: 1px 1px #000000;
}
.panelBox:hover {
  background-color: rgba(140, 140, 140, 0.211);
  margin-left: 0;
}
.createDeckTitle {
  text-shadow: 0 0 5px #0d0d09;
  font-family: "Skranji", cursive;
}
.panelBox:hover {
  cursor: pointer;
  position: relative;
}
.clearButton {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  font-family: "Skranji", cursive;
  color: #ffd700;
}
.deckOK {
  font-size: large;
  background-color: transparent;
  border: none;
  font-family: "Skranji", cursive;
  color: #ffd700;
  text-shadow: 1px 1px #000000;
}
.deckOK:hover {
  color: #2afe00;
  /* background-color: #2afe00; */

  border: solid;
  border-width: 3px;
  margin: 0px;
  border-color: #000000;
}
.deckX {
  color: red;
  font-size: large;
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}
.deckX:hover {
  background-color: #00000092;
}
.manageSection {
  margin-top: -40px;
}
/* 
/////
/////END MANAGE DECK STYLES
////// */

/* ////
////OPEN PACKS 
//// */

@keyframes move {
  0% {
    margin-left: -140px;
  }
  50% {
    margin-left: -140px;
  }
  100% {
    margin-left: 15px;
  }
}
/* @keyframes turn {
  0% { }
  50% {}
  100% { rotateY: 0deg;}
} */
.open {
  left: 140px;
  /* position: relative; */
  animation: move 2s forwards;
  transform: rotateY(180deg);
}
.open:hover {
  /* transform:  */
  transform: scale(1.2) rotateY(180deg);
  margin: 15px;
  box-shadow: 0px 5px 5px 2px #0d0d09;
}

#turn {
  transition: transform 1s;
  transform: rotateY(180deg);
}

#turnback {
  transition: transform 1s;
  transform: rotateY(-180deg);
}

.addToCollection {
  text-align: center;
  padding: 30px;
  width: 150px;
  height: 100px;
  transition: transform 1s;
  transform: rotateY(180deg);
  margin-left: 50%;
  font: verdana;
  font-size: large;
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0); */
  color: #ffd700;
  border-radius: 20px;

}
.addToCollection:hover {
  cursor: pointer;
  box-shadow: 0em 0em 0.1em 0.1em  #ffd700;
  background-color: #000000;
  background-color: #000000c7;
  /* box-shadow:  #ffd700;  */
  /* box-shadow: 0px 5px 5px 2px #0d0d09;
  background-color: rgba(128, 128, 128, 0.386); */
}
span{
  color:#ffd700;
  text-shadow: 0 0 5px #0d0d09, 0 0 5px #0d0d09;
  
}
/* ////
////END OPEN PACKS STYLES */

/* ////
////VIEW DECK STYLES */
@keyframes gogagadgetcards {
  0% {
    /* top: 80px;
  left: -80px;
  margin: -65px; */
    opacity: 0;
  }

  50% {
    opacity: 1;
    /* margin-top: 10px; */
  }

  100% {
    /* top: 0px;
     left: 0px;
     margin: 15px; */
    opacity: 1;
  }
}
.view {
  position: relative;
  animation: gogagadgetcards 3s linear;
}

#getCardsPara {
  font: verdana;
  font-size: large;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  color: #ffd700;
  text-align: center;
  margin-top: 100px;
}



